.container {
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px 1px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none !important;
}

.btn.float:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.space:hover {
  background-color: black;
  color: white;
  letter-spacing: 3px;
}

.btn.up:hover {
  -webkit-transform: translate(-2.5px, -2.5px);
          transform: translate(-2.5px, -2.5px);
  -webkit-box-shadow: 5px 5px 0 black;
          box-shadow: 5px 5px 0 black;
}

.btn.down {
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 0 black;
          box-shadow: 2px 2px 0 black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn.down:hover {
  -webkit-transform: translate(2.5px, 2.5px);
          transform: translate(2.5px, 2.5px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.shadow {
  background-color: black;
  color: white;
  border: 1px solid black;
  font-weight: bold;
  padding: 10px 40px;
  margin: 10px 1px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn.shadow:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.slide-bg::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  z-index: -1;
}

.btn.slide-bg:hover {
  color: white;
}

.btn.slide-bg:hover::before {
  -webkit-transform: none;
          transform: none;
}

.btn.cover-3d {
  position: relative;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.btn.cover-3d span {
  display: inline-block;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.btn.cover-3d::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  opacity: 0;
}

.btn.cover-3d:hover {
  color: white;
}

.btn.cover-3d:hover::before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.btnC {
  position: relative;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 300px;
          perspective: 300px;
  width: 138px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  font-weight: 600;
}

.btnC.cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  line-height: 48px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: center center -25px;
          transform-origin: center center -25px;
}

.btnC.cubic .hovering {
  background-color: black;
  color: white;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.btnC.cubic .default {
  background-color: white;
  color: black;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btnC.cubic:hover .hovering {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.btnC.cubic:hover .default {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  height: 400px;
  overflow: hidden;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
}

.swiper-slide::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}

.swiper-slide-active > img {
  -webkit-transform: none;
          transform: none;
}

.swiper-slide-active .hero__title {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero {
  overflow: hidden;
  padding-top: 120px;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 20px));
          transform: translate(-50%, calc(-50% + 20px));
  color: white;
  font-size: 25px;
  opacity: 0;
  -webkit-transition: opacity 1.2s ease 0.5s,  -webkit-transform 1.2s ease 0.5s;
  transition: opacity 1.2s ease 0.5s,  -webkit-transform 1.2s ease 0.5s;
  transition: transform 1.2s ease 0.5s,  opacity 1.2s ease 0.5s;
  transition: transform 1.2s ease 0.5s,  opacity 1.2s ease 0.5s,  -webkit-transform 1.2s ease 0.5s;
}

.hero__footer {
  width: 22px;
  height: 42px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 3;
}

.hero__scrolltext {
  position: absolute;
  top: 11px;
  left: -8px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9em;
}

.animate-title {
  opacity: 0;
}

.animate-title.inview {
  opacity: 1;
}

.animate-title.inview .char {
  display: inline-block;
}

.animate-title .char {
  opacity: 0;
}

.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
}

.cover-slide.inview::after {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.img-zoom, .bg-img-zoom {
  opacity: 0;
}

.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  pointer-events: none;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-zoom {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.img-bg50 {
  position: relative;
}

.img-bg50::before {
  display: block;
  content: '';
  padding-top: 50%;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn > span {
  background-color: black;
  width: 30px;
  height: 2px;
  display: block;
  margin-bottom: 8px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 200;
}

.mobile-menu__main {
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none;
}

.menu-open #container {
  -webkit-transform: translate(-300px, 60px);
          transform: translate(-300px, 60px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.32s;
          transition-delay: 0.32s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.menu-open .mobile-menu__btn > span {
  background-color: black;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(9px) rotate(138deg) scale(0.8);
          transform: translateY(9px) rotate(138deg) scale(0.8);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transform: translateX(-18px) scale(0);
          transform: translateX(-18px) scale(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-138deg) scale(0.8);
          transform: translateY(-11px) rotate(-138deg) scale(0.8);
}

.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 2.7s;
          transition-delay: 2.7s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

body {
  font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm, .sub-title, .mobile-menu__link > .sub-title {
  font-size: 14px;
}

.font-md, .popular__title {
  font-size: 17px;
}

.font-lr, .houses__title {
  font-size: 17px;
}

.font-lg, .main-title, .mobile-menu__link > .main-title {
  font-size: 25px;
}

.mb-sm, .travel__sub, .travel__img, .houses__title, .popular__title {
  margin-bottom: 16px !important;
}

.mb-lg, .travel, .houses, .popular__btn {
  margin-bottom: 80px !important;
}

.pd-sm, .travel__texts, .popular__container {
  padding-bottom: 16px;
}

.pd-lg, .hero {
  padding-bottom: 80px !important;
}

.content-width, .header__inner, .travel, .houses, .popular__header, .popular__container, .footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.main-title, .mobile-menu__link > .main-title {
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title, .mobile-menu__link > .sub-title {
  color: #535353;
}

.flex, .travel__inner, .houses__inner, .popular__container, .footer__nav, .footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.purple {
  color: #904669;
}

#container {
  -webkit-transition: -webkit-transform 0.7s, -webkit-box-shadow 0.7s ease;
  transition: -webkit-transform 0.7s, -webkit-box-shadow 0.7s ease;
  transition: transform 0.7s, box-shadow 0.7s ease;
  transition: transform 0.7s, box-shadow 0.7s ease, -webkit-transform 0.7s, -webkit-box-shadow 0.7s ease;
  background-color: white;
  position: relative;
  z-index: 10;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.header.triggered {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.6);
}

.header__nav {
  display: none;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.header__li {
  margin-left: 20px;
  text-transform: uppercase;
}

.header__li > a {
  color: black;
  text-decoration: none !important;
}

.header .logo {
  font-size: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu .logo {
  padding: 0 40px;
}

.mobile-menu__link {
  text-decoration: none !important;
}

.mobile-menu__link > .sub-title {
  display: block;
}

.travel__inner {
  position: relative;
  z-index: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #eaebe6;
}

.travel__img {
  height: 300px;
  -webkit-transition: -webkit-box-shadow 1ms linear 0.8s;
  transition: -webkit-box-shadow 1ms linear 0.8s;
  transition: box-shadow 1ms linear 0.8s;
  transition: box-shadow 1ms linear 0.8s, -webkit-box-shadow 1ms linear 0.8s;
}

.travel__img > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.travel__img.inview {
  -webkit-box-shadow: inset 0 0 30px black;
          box-shadow: inset 0 0 30px black;
}

.houses__btn {
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.popular__inner {
  position: relative;
}

.popular__inner::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #eaebe6;
  content: '';
}

.popular__container {
  position: relative;
  z-index: 2;
}

.popular__btn {
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.popular__img {
  height: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}

.popular__img > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  height: 100%;
  width: 100%;
}

.logo {
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 0.7em;
}

.logo__world {
  color: #904669;
}

.footer {
  padding: 60px 0;
}

.footer__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__li {
  padding: 0;
  margin: 10px;
}

.footer__li > a {
  color: #535353;
}

.footer .logo {
  font-size: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side {
  display: none;
  position: fixed;
  top: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.side .animate-title {
  color: black;
  text-decoration: none !important;
  margin: 0 40px;
  vertical-align: middle;
  letter-spacing: 2px;
}

.side.right {
  right: -50px;
}

.side.right.inview {
  right: 50px;
}

.side.right .side__inner {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.side.left {
  left: -50px;
}

.side.left.inview {
  left: 50px;
}

.side.left .side__inner {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.icon {
  position: relative;
}

.icon::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1em;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.twitter::before {
  background-image: url(../images/twitter.png);
}

.icon.fb::before {
  background-image: url(../images/facebook.png);
}

@media (min-width: 600px) {
  .flex, .travel__inner, .houses__inner, .popular__container, .footer__nav, .footer__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .travel__inner {
    padding: 50px;
  }
  .travel__title {
    position: relative;
  }
  .travel__title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -120px;
    width: 100px;
    height: 1px;
    background-color: black;
    -webkit-transform: translateY(-50%) scaleX(0);
            transform: translateY(-50%) scaleX(0);
    -webkit-transition: -webkit-transform 0.3s ease 1.6s;
    transition: -webkit-transform 0.3s ease 1.6s;
    transition: transform 0.3s ease 1.6s;
    transition: transform 0.3s ease 1.6s, -webkit-transform 0.3s ease 1.6s;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .travel__title.inview::before {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .travel__img {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .travel__texts {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .travel__texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .houses__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 60px;
  }
  .popular__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popular__item {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .footer .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__li {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media (min-width: 960px) {
  .font-sm, .sub-title, .mobile-menu__link > .sub-title {
    font-size: 16px;
  }
  .font-md, .popular__title {
    font-size: 19px;
  }
  .font-lr, .houses__title {
    font-size: 23px;
  }
  .font-lg, .main-title, .mobile-menu__link > .main-title {
    font-size: 36px;
  }
  .mb-lg, .travel, .houses, .popular__btn {
    margin-bottom: 150px !important;
  }
  .pd-lg, .hero {
    padding-bottom: 150px !important;
  }
  .header__nav {
    display: block;
  }
  .header__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-menu__btn {
    display: none;
  }
  .travel__img {
    height: 400px;
  }
  .travel__description {
    margin-bottom: 40px;
  }
  .popular__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .popular__img {
    height: 335px;
  }
  .swiper-slide {
    -webkit-box-shadow: 0 8px 20px -5px rgba(0, 0, 0, 0.7);
            box-shadow: 0 8px 20px -5px rgba(0, 0, 0, 0.7);
  }
}

@media (min-width: 1280px) {
  .popular__item {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
  .travel__inner {
    padding: 50px 150px;
  }
  .side {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */